<div class="row search-analyze col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 tweet-search">
      <%= form_tag(searches_path, method: "get") do %>
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query, params[:term], placeholder: @term, size:60, autofocus: true) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 save-sentiment-analysis">
    <%= form_for(:tweet_sentiment, url: tweet_sentiments_path) do |f| %>
      <%= f.hidden_field :search_term, value: @term %>
      <%= f.hidden_field :sentiment_score, value: @total %>
      <%= f.submit "Save Tweet Sentiment to Profile", class: 'btn btn-info btn-lg' %>
    <% end %>
  </div>
</div>


        <!-- (current_user.tweet_sentiments.save(followed_event_id: user_event.id)) do |f| %> -->
        <!-- <div class="hidden"><%#= f.hidden_field :followed_event_id %></div> -->
        <%#= f.submit "Save Tweet Sentiment to Profile", class: 'btn btn-info btn-lg' %>
        <%# end %>
      <%# end %>  
        <%#= form_for(:search, url: tweets) do |f| %>
          <%#= f.select(:search_id, options_for_select(@tweets.map { |t| [t.search_term, t.sentiment_score]})) %>
          <%#= f.hidden_field :search_term, value: @term %>
          <%#= f.hidden_field :sentiment_score, value: @total %>              
          <!-- <br> -->
          <%#= f.submit "Save Analysis to Profile", class: 'btn btn-info btn-lg' %>
        <%# end %>
      <%# else %>
        <!-- <a href="#" class="btn btn-primary disabled">Please Sign In to Save</a> -->
      <%# end %>

<br>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <table class="table table-bordered sum">
      <% if @total < 0 %>
        <tr class="danger">
          <td>Current sentiment total for <%= @term ? "#{@term}:" : "Sally Jesse Raphael:" %></td>
          <td style="color:white"><strong><%= @total.to_s %></strong></td>
        </tr>
      <% else %>  
        <tr class="success">
          <td>Sentiment total for <%= @term ? "Your search for #{@term} yielded:" : "Example search: Sally Jesse Raphael" %></td>
          <td style="color:white"><strong><%= @total.to_s %></strong></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h3><%= @term ? "Your search for #{@term} yielded:" : "Example search: Sally Jesse Raphael" %></h3> 
      <% @tweets.each do |tweet| %>
        <table class="table table-bordered">

          <p style="color:white"><strong><%= tweet[:text] %></strong></p>
          <p>-<%= tweet[:user] %> at <%= tweet[:created_at] %>, sentiment score: <strong><%= tweet[:sentiment] ? (tweet[:sentiment]["score"] ? tweet[:sentiment]["score"] : 'not available') : 'not available' %></strong></p>
        </table>
      <% end %>
    </div>
  </div>
</div>


