<% if @total < 0 %>  
  <div class="search-results-negative" style="background-image:url(<%= asset_path 'thumbs-down-button.png' %>);background-attachment:fixed">
    <div class="row search-analyze col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 tweet-search">
          <%= form_tag(searches_path, method: "get") do %>
          <%= label_tag(:query, "Search for:") %>
          <%= text_field_tag(:query, params[:term], placeholder: @term, size:60, autofocus: true) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 save-sentiment-analysis">
        <%= form_for(:tweet_sentiment, url: tweet_sentiments_path) do |f| %>
          <%= f.hidden_field :search_term, value: @term %>
          <%= f.hidden_field :sentiment_score, value: @total %>
          <%= f.submit "Save Tweet Sentiment to Profile", class: 'btn btn-info btn-lg' %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <% if @total < 0 %>
          <table class="table table-bordered table-sum" style="background:rgba(235,43,40,(@total/15))" height:"50px">
            <tr class="danger">
              <td class="col-md-5 col-md-offset-2">Current sentiment total for <%= @term %>:</td>
              <td class="col-md-3" style="background:rgba(235,43,40,(@total/15) color:white" height:"50px"><strong><%= @total.to_s %></strong></td>
            </tr>
          </table>  
        <% else %>  
          <table class="table table-bordered table-sum" style="background:rgba(184,230,46,(@total/15))" height:"50px">
            <tr class="positive">
              <td class="col-md-5 col-md-offset-2">Current sentiment total for <%= @term %>:</td>
              <td class="col-md-3"><strong><%= @total.to_s %></strong></td>
            </tr>
          </table>  
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h3><%= @term ? "Your search for #{@term} yielded:" : "Example search: Sally Jesse Raphael" %></h3> 
          <% @tweets.each do |tweet| %>
            <table class="table table-bordered table-tweets" style="background-color:rgba(92,92,92,0.4)">
              <td class="col-md-5 col-md-offset-2">
                <p><strong><%= tweet[:text] %></strong></p>
                <br>
                <p>-<%= tweet[:user] %> at <%= tweet[:created_at] %></p>
              </td>
              <td class="col-md-3">
                <p>Sentiment score:</p>
                <br>
                <p><strong><%= tweet[:sentiment] ? (tweet[:sentiment]["score"] ? tweet[:sentiment]["score"] : 'not available') : 'not available' %></strong></p>
              </td>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="search-results-positive" style="background-image:url(<%= asset_path 'thumbs-up-button.png' %>);background-attachment:fixed">
    <div class="row search-analyze col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 tweet-search">
          <%= form_tag(searches_path, method: "get") do %>
          <%= label_tag(:query, "Search for:") %>
          <%= text_field_tag(:query, params[:term], placeholder: @term, size:60, autofocus: true) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 save-sentiment-analysis">
        <%= form_for(:tweet_sentiment, url: tweet_sentiments_path) do |f| %>
          <%= f.hidden_field :search_term, value: @term %>
          <%= f.hidden_field :sentiment_score, value: @total %>
          <%= f.submit "Save Tweet Sentiment to Profile", class: 'btn btn-info btn-lg' %>
        <% end %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <% if @total < 0 %>
          <table class="table table-bordered table-sum" style="background:rgba(235,43,40,(@total/15))" height:"50px">
            <tr class="danger">
              <td class="col-md-5 col-md-offset-2">Current sentiment total for <%= @term %>:</td>
              <td class="col-md-3" style="background:rgba(235,43,40,(@total/15) color:white" height:"50px"><strong><%= @total.to_s %></strong></td>
            </tr>
          </table>  
        <% else %>  
          <table class="table table-bordered table-sum" style="background:rgba(184,230,46,(@total/15))" height:"50px">
            <tr class="positive">
              <td class="col-md-5 col-md-offset-2">Current sentiment total for <%= @term %>:</td>
              <td class="col-md-3"><strong><%= @total.to_s %></strong></td>
            </tr>
          </table>  
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-offset-2 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h3><%= @term ? "Your search for #{@term} yielded:" : "Example search: Sally Jesse Raphael" %></h3> 
          <% @tweets.each do |tweet| %>
            <table class="table table-bordered tweets" style="background-color:rgba(92,92,92,0.4)">
              <td>
                <p><strong><%= tweet[:text] %></strong></p>
                <br>
                <p>-<%= tweet[:user] %> at <%= tweet[:created_at] %></p>
              </td>
              <td>
                <p>Sentiment score:</p> 
                <br>
                <p><strong><%= tweet[:sentiment] ? (tweet[:sentiment]["score"] ? tweet[:sentiment]["score"] : 'not available') : 'not available' %></strong></p>
              </td>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>




